## Om Sakthi...Guruvadi Saranam!...Thiruvadi Saranam!

## மக்கள் நல பணி 2024

### Introduction
This notebook serves the purpose of automating the generation of acknowledgment forms for beneficiaries by utilizing the information provided by them.

### Prerequisites
Before running the notebook, ensure you have the following:
- **Python Environment**: Make sure you have Python installed on your system( or do so from here "https://www.python.org/downloads/") or use JupyterLab on Web which doesnt need system installation. .
- **Editable PDF Form**: Prepare an editable PDF form using an online tool or Adobe Acrobat. The field names in the form should be readable programmatically.(www.docfly.com has a free version for 5 tries).  `acknowledgment stage_0.docx` is the base file which has the template of acknowledgment form. converted them to pdf and named it as `acknowledgment stage_1.pdf`. upload to the as mentioned pdf editors and manually drag and drop text boxes in the fillable areas and take note of text field names. then export them and named as  `acknowledgment stage_2.pdf`. this is the final file that can be used to autofill beneficiary detailes.


### Code Explanation
- **Data Processing**: The notebook reads beneficiary data from Excel files, processes it, and merges it to create a consolidated dataset. the `main_file_path` will have the path of the `Generated_token.xlsx` file.
- **PDF Form Filling**: It extracts field names from the editable PDF form and then iterates through each beneficiary's data to fill the form fields accordingly.
- **Output Generation**: The filled PDF forms are saved individually and then merged into a single PDF file for easier management in the `label_path` under name `all_acknowledgment.pdf`

### Important Note
- Ensure that the input data files are placed in the correct directory as specified in the notebook.
- Make sure the editable PDF form used has fields with identifiable names for automated filling.Use appropriate names and note them while creating fillable PDF online
- Review the output PDF files to ensure accuracy before distributing them to beneficiaries.

In [91]:
main_file_path = "/Users/aswathshakthi/PycharmProjects/MNP25/Token/Generated_token_V4.xlsx"
label_path = "/Users/aswathshakthi/PycharmProjects/MNP25/Token/Acknowledgment/result"

#### read the file from the defined path above. Select `Public` records.

In [92]:
import pandas as pd
data = pd.read_excel(main_file_path)
data = data[data["Beneficiary Type"]=="Public"]
data[['App. No.', 'Name']] = data['Name'].str.split(' - ', expand=True)
data

,Name,Article Name,ITEM TYPE,Beneficiary Type,Article Category,Quantity,Total Value,Waiting Hall Quantity,Token Quantity,Sequence List,Start Token No.,End Token No.,Token Print for ARTL,App. No.
2,P.K.A.Siva Prasanna,Sandalwood tree Sapling,Article,Public,Agriculture,300,20000,298,2,13.0,3,4,1,P 309
3,S.Padmini,Goat,Article,Public,Livestock,2,20000,0,2,14.0,5,6,1,P 063
4,Ranganayaki,Goat,Article,Public,Livestock,1,10000,0,1,14.0,7,7,1,P 214
5,Anjalatchi,Goat,Article,Public,Livestock,1,10000,0,1,14.0,8,8,1,P 221
6,Ambika,Goat,Article,Public,Livestock,1,10000,0,1,14.0,9,9,1,P 222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,M.Raghu,Fishing net,Article,Public,Miscellaneous,1,20475,0,1,116.0,1097,1097,1,P 283
975,E.Vinayagam,Hearing Aid,Article,Public,Medical,1,18000,0,1,118.0,1098,1098,1,P 261
976,M.Mohan,Hearing Aid,Article,Public,Medical,1,18000,0,1,118.0,1099,1099,1,P 262
995,Muthulakshmi,Table fan,Article,Public,Electricals,1,1300,0,1,137.0,1100,1100,1,P 177
996,C.Kannan,Table fan,Article,Public,Electricals,1,1300,0,1,137.0,1101,1101,1,P 182

##### Add the path of beneficiary details in excel, also sheet name should be mentioned

In [93]:
p_data = pd.read_excel("/Users/aswathshakthi/PycharmProjects/MNP25/Token/Acknowledgment/data/Public Data.xlsx")
p_data = p_data[p_data["QUANTITY"]!=0]
p_data = p_data[["App. No.","Aadhar (Without Space)","Name","Address","Mobile"]]
p_data = p_data.rename(columns={"Aadhar (Without Space)":"Aadhar",})
p_data

,App. No.,Aadhar,Name,Address,Mobile
0,P 001,629795730911,Rekha Elumalai,"96 Palla St, Thiruvannamalai",9003985442
2,P 003,320663697895,A.Manikandan,"390, South St, Kallakurichy",6382220459
3,P 004,548331232628,V.Jayavel,"46 Jothi Nagar, Thiruvallur",8668000173
4,P 005,765724849130,K.Ganesh,"Kesavarayanpettai, Melmaruvathur",9655989549
5,P 006,799405228901,K.Malar,"2/519 Selva Vinayakar Koil St, Thuraiakkam, Ch...",7401234296
...,...,...,...,...,...
326,P 328,787000578168,S.VASUDEVAN,"SRI RANGARAJAPURAM, THIRUVANNAMALI",9789102871
327,P 329,294426843842,K.R.GOPALAKRISHNAN,"OLUPAKKAM,CHENGALPATTU",979038824
328,P 330,,Brahmin Family,Melmaruvathur,
329,P 331,571571016351,K.THANGAMANI,"MELMARUVATHUR, KANCHEEPURAM",9500406779
330,P 332,889906915254,N.DHANASEKARAN,"MELMARUVATHUR, KANCHEEPURAM",9884032777

##### Finally save the file to the path mentioned below or edit to your desired path.

In [94]:
data.merge(p_data,how='left',on=["App. No.","Name"]).to_excel("/Users/aswathshakthi/PycharmProjects/MNP25/Token/Acknowledgment/data/Beneficiary_list.xlsx",index=False)

##### This adds 0 to missing data and converts numbers to numbers and texts to texts format

In [95]:
data= pd.read_excel("/Users/aswathshakthi/PycharmProjects/MNP25/Token/Acknowledgment/data/Beneficiary_list.xlsx")
data["Aadhar"] = data["Aadhar"].fillna(0)
data["Mobile"] = data["Mobile"].fillna(0)
data["Address"] = data["Address"].fillna("Add")
data["Aadhar"] = data["Aadhar"].astype(str)
data["Mobile"] = data["Mobile"].astype(str)
data = data.sort_values(by=["Article Name"])
data

,Name,Article Name,ITEM TYPE,Beneficiary Type,Article Category,Quantity,Total Value,Waiting Hall Quantity,Token Quantity,Sequence List,Start Token No.,End Token No.,Token Print for ARTL,App. No.,Aadhar,Address,Mobile
177,S.Kumar,Agri Battery Sprayer,Article,Public,Agriculture,1,4200,0,1,57.0,546,546,1,P 123,599635259890,"Athiyur, Kancheepuram",9585715880
9,G.Deepalakshmi,Agri Cart Weeder,Article,Public,Agriculture,1,74000,0,1,16.0,18,18,1,P 231,251977932073,"Mathigiri, Hosur",
178,R.JOTHI,Agri Power Sprayer 2S,Article,Public,Agriculture,1,11760,0,1,58.0,550,550,1,P 314,246178948306,"SIRUNAGALUR, CHENGALPATTU",9361764674
192,J.VICTORIA,Alu Idli Making Box,Article,Public,Kitchen,1,4800,0,1,85.0,655,655,1,P 205,702492428100,"THATAARKULAM, KANCHIPURAM",9629023447
26,R.Babu,Auto- 3 Wheeler,Article,Public,Automotive,1,90000,0,1,19.0,44,44,1,P 081,659694967257,"Nammalvar pettai, Chennai",9840587844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,K.DINAKARAN,Two Wheeler,Article,Public,Automotive,1,121500,0,1,18.0,39,39,1,P 259,983370012005,"CHENDIVAKKAM, CHENGLEPATTU",8489210220
202,T.SARITHA,Wet Grinder 3L,Article,Public,Grinders,1,15930,0,1,93.0,718,718,1,P 189,533060977381,"SINGAPERUMAL KOVIL, CHENGLEPATTU",
201,S.Anbu,Wet Grinder 3L,Article,Public,Grinders,1,15930,0,1,93.0,717,717,1,P 062,491793668507,"Vandalur, Chenglepat",8939599423
200,K.LAKSHMI,Wet Grinder Floor 2L,Article,Public,Grinders,1,6726,0,1,91.0,707,707,1,P 194,831314728110,"KESAVARAYANPETTAI, MELMARUVATHUR",9566134171
199,N.Dinesh,Wet Grinder Floor 2L,Article,Public,Grinders,1,6726,0,1,91.0,706,706,1,P 184,345233414455,"Chendivakkam, Chenglepattu",9003544147

In [96]:
data.isna().sum()

Name                     0
Article Name             0
ITEM TYPE                0
Beneficiary Type         0
Article Category         0
Quantity                 0
Total Value              0
Waiting Hall Quantity    0
Token Quantity           0
Sequence List            0
Start Token No.          0
End Token No.            0
Token Print for ARTL     0
App. No.                 0
Aadhar                   0
Address                  0
Mobile                   0
dtype: int64

##### This gives the name of PDF text fields. use this to link data accordingly

In [97]:
# get Field names

from fillpdf import fillpdfs

# Get form fields from the PDF
form_fields = fillpdfs.get_form_fields("/Users/aswathshakthi/PycharmProjects/MNP25/Token/Acknowledgment/data/acknowledgment stage_2.pdf")

# Print field names
for field_name in form_fields.keys():
    print(field_name)

District
App no
token
bf name
address
mobile
Aadhar
article

#### in Line 17, change the path to where to store your results. it shouldn't contain another files except this. in line 18, mention the path of the `acknowledgment stage_2.pdf` file.in line 26, add the path where you save your result. the output will be saved in the folder under name `all_acknowledgment.pdf`

In [98]:
import pandas as pd
from fillpdf import fillpdfs
import PyPDF2
import os
# Define a function to fill PDF for each row
def fill_pdf_for_row(row):
    data_dict = {
        # 'District': row['District'],
        'address': row['Address'],
        'bf name': row['Name'],
        'App no': row['App. No.'],
        'token': row['Start Token No.'],
        'mobile': row['Mobile'],
        'Aadhar': row['Aadhar'],
        'article': row['Article Name']
    }
    filled_pdf_path = f"/Users/aswathshakthi/PycharmProjects/MNP25/Token/Acknowledgment/result/{row['Start Token No.']}_filled.pdf"  # Output path for each filled PDF
    fillpdfs.write_fillable_pdf('/Users/aswathshakthi/PycharmProjects/MNP25/Token/Acknowledgment/data/acknowledgment stage_2.pdf', filled_pdf_path, data_dict)

    return filled_pdf_path

# Apply the function to each row and get list of filled PDF paths
filled_pdf_paths = data.apply(fill_pdf_for_row, axis=1).tolist()

# Merge all filled PDFs into a single PDF file
merged_pdf_path = "/Users/aswathshakthi/PycharmProjects/MNP25/result/all_acknowledgment.pdf"
with open(merged_pdf_path, "wb") as output_pdf:
    merger = PyPDF2.PdfMerger()
    for pdf_path in filled_pdf_paths:
        merger.append(pdf_path)
    merger.write(output_pdf)

# Delete individual filled PDFs
for pdf_path in filled_pdf_paths:
    os.remove(pdf_path)